.button-base{
  width:622px;
  height:96px;
  border-radius:10px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-blue{
  background: #0071FF;
  color: #FFFFFF;
}