/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*
 CSS初始化
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  自定义CSS
 */

* {
  &,
  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html,body{
  height: 100%;
}

body{
  width: 750px;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: #0071FF;
  line-height: 1;
  font-size: 16px;
  overflow: auto;
}
#app{
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.page_pub{
  height: 100vh;
  position: relative;
  background: #fff;
}

//margin && padding
$sites:(
        t: top,
        r: right,
        b: bottom,
        l: left
);

$sizes:(
        0: 0,
        10: 10px,
        20: 20px,
        30: 30px,
        40: 40px,
        50: 50px
);

@each $prop,
$abbrev in ( m: margin,
        p: padding) {
  @each $name,
  $value in $sites {
    @each $size,
    $length in $sizes {
      .#{$prop}-#{$name}-#{$size} {
        #{$abbrev}-#{$value}: $length;
      }
    }
  }
}

input{
  border: none;
  outline:none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999999;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #999999;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #999999;
}
.button_base{
  width:622px;
  height:96px;
  border-radius:10px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_blue{
  background: #0071FF;
  color: #FFFFFF;
}

// 单行省略号
.one_line_ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.three_line_ellipsis{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; //行数
  overflow: hidden;
}

.m-0{
  margin: 0 !important;
}

.p-0{
  padding: 0 !important;
}

.w100{
  width: 100% !important;
}

.flex1{
  flex: 1;
}

// 公共分割线
.line_pub{
  width: 100%;
  height:1px;
  background: #D8D7D7;
  transform: scaleY(0.5);
}

// 字体加粗
.font_bold{
  font-weight: bold;
}

// 照片组合
.imgGroup_box{
  padding: 24px 32px;
  background: #fff;
}
.imgGroup_box>.imgs{
  display: flex;
  flex-wrap: wrap;
  margin-right: -14px;
}
.imgGroup_box>.imgs>.img_item{
  width: 128px;
  height: 128px;
  margin-right: 12px;
  position: relative;
  margin-bottom: 16px;
}
.imgGroup_box>.imgs>.img_item>.load_img{
  width: 100%;
  height: 100%;
}
.del_img{
  width: 32px;
  height: 32px;
}
.imgGroup_box>.imgs>.img_item>.del_img{
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}
.imgGroup_box>.imgs>.camera{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:1px dotted rgba(216,215,215,1);
  color: #CCC9C9;
  font-size: 20px;
}

// 加载动画
.loader_pub {
  position: relative;
  font-size: 14px;
  height: 100px;
}

.loader_pub>.outer,
.loader_pub>.middle,
.loader_pub>.inner {
  border: 3px solid transparent;
  border-top-color: #1A5DAC;
  border-right-color: #1A5DAC;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 40%;
}

.loader_pub>.outer {
  width: 3.5em;
  height: 3.5em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  animation: spin 2s linear infinite;
}

.loader_pub>.middle {
  width: 2.1em;
  height: 2.1em;
  margin-left: -1.05em;
  margin-top: -1.05em;
  animation: spin 1.75s linear reverse infinite;
}

.loader_pub>.inner {
  width: 0.8em;
  height: 0.8em;
  margin-left: -0.4em;
  margin-top: -0.4em;
  animation: spin 1.5s linear infinite;
}
.loader_pub>.title{
  font-size: 30px;
  position: absolute;
  left: 53%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.loadAll_pub{
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 28px;
  color: #A2A8AD;
  background: #F7F6F9;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

// 标签动画
.label_animation::after {
  content: '';
  z-index: -1;
  background-color: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 1.25em;
  animation: label 3s linear infinite;
}
@keyframes label {
  from{
    transform: translate3d(-625%, 0, 0) rotate(35deg);
  }
  to{
    transform: translate3d(200%, 0, 0) rotate(35deg);
  }
}

.button-base{
  width:622px;
  height:96px;
  border-radius:10px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-blue{
  background: #0071FF;
  color: #FFFFFF;
}