//margin && padding
$sites:(
        t: top,
        r: right,
        b: bottom,
        l: left
);

$sizes:(
        0: 0,
        10: 10px,
        20: 20px,
        30: 30px,
        40: 40px,
        50: 50px
);
@each $prop,
$abbrev in ( m: margin,
        p: padding) {
  @each $name,
  $value in $sites {
    @each $size,
    $length in $sizes {
      .z-#{$prop}-#{$name}-#{$size} {
        #{$abbrev}-#{$value}: $length;
      }
    }
  }
}
.z-m-0{
  margin: 0;
}
.z-p-0{
  padding: 0;
}

/*
高度宽度
 */
.z-h100{
  height: 100%;
}
.z-w100{
  width: 100%;
}
.z-wh100{
  width: 100%;
  height: 100%;
}
.z-h100vh{
  height: 100vh;
}

/*
 弹性布局
 */
.z-row{
  display: flex;
}
.z-col{
  display: flex;
  flex-direction: column;
}
.z-flex1{
  flex: 1;
}
.z-row-center{
  justify-content: center;
}
.z-col-center{
  align-items: center;
}

/*
字体
 */
.z-font-bold{
  font-weight: bold;
}


/*
混杂
 */
// 提示
.z-tip{
  color: #909399;
}
// 公共分割线
.z-line-pub{
  width: 100%;
  height:1px;
  background: #D8D7D7;
  transform: scaleY(0.5);
}
/*
表单列表
 */
.z-from-card{
  background: #F4F8FB;
  padding: 10px 10px 0 10px;
}
.z-form-item{
  display: flex;
  align-items: center;
  height: 95px;
  padding: 0 20px;
  background: #fff;
  .z-left{
    width: 160px;
    text-align: left;
    font-size: 28px;
    color: #333333;
  }
  .z-right{
    position: relative;
    flex: 1;
    input{
      max-width: 90%;
    }
    .close-style{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 8px;
    }
  }
  &.border{
    border-top: 1px solid #EAEAEA;
  }
}
/*
  搜索布局
 */
.z-search-group{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  .z-search-item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .z-left{
      width: 90px;
      text-align: right;
    }
  }
  .z-search-btn{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    min-width: 200px;
    .z-left{
      width: 20px;
    }
  }
}
/*
按钮
 */
.z-button-base{
  width:622px;
  height:96px;
  border-radius:10px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.z-button-blue{
  background: #0071FF;
  color: #FFFFFF;
}
/*
省略号
 */
// 单行省略号
.z-one-line-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// 第三行省略
.z-three-line-ellipsis{
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; //行数
  overflow: hidden;
  text-overflow: ellipsis;
}
/*
选择照片
 */
.z-imgGroup-box{
  padding: 24px 32px;
  background: #fff;
  .imgs{
    display: flex;
    flex-wrap: wrap;
    margin-right: -14px;
    .img-item{
      width: 128px;
      height: 128px;
      margin-right: 12px;
      position: relative;
      margin-bottom: 16px;
      .load-img{
        width: 100%;
        height: 100%;
      }
    }
    .camera{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border:1px dotted rgba(216,215,215,1);
      color: #CCC9C9;
      font-size: 20px;
    }
  }
  .del-img{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    width: 32px;
    height: 32px;
  }
}
/*
上拉加载动画
 */
.z-loader-pub {
  position: relative;
  font-size: 14px;
  height: 100px;
}

.z-loader-pub>.outer,
.z-loader-pub>.middle,
.z-loader-pub>.inner {
  border: 3px solid transparent;
  border-top-color: #1A5DAC;
  border-right-color: #1A5DAC;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 40%;
}

.z-loader-pub>.outer {
  width: 3.5em;
  height: 3.5em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  animation: z-spin 2s linear infinite;
}

.z-loader-pub>.middle {
  width: 2.1em;
  height: 2.1em;
  margin-left: -1.05em;
  margin-top: -1.05em;
  animation: z-spin 1.75s linear reverse infinite;
}

.z-loader-pub>.inner {
  width: 0.8em;
  height: 0.8em;
  margin-left: -0.4em;
  margin-top: -0.4em;
  animation: z-spin 1.5s linear infinite;
}
.z-loader-pub>.title{
  font-size: 30px;
  position: absolute;
  left: 53%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.z—loadAll-pub{
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 28px;
  color: #A2A8AD;
  background: #F7F6F9;
}

@keyframes z-spin {
  to {
    transform: rotate(360deg);
  }
}
/*
tab选择栏
 */
.z-select-group{
  position: sticky;
  top: 0;
  height:88px;
  background: #fff;
  padding: 0 32px;
  z-index: 100;
}
.z-select-group>.select-group-son{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}
.z-select-group>.select-group-son>.select-item{
  font-size: 32px;
  color: #231815;
  display: flex;
  align-items: center;
}
.z-select-group>.select-group-son>.select-item.active{
  font-size: 36px;
  font-weight: bold;
}
.z-select-group-line{
  position: absolute;
  left: 56px;
  bottom: 4px;
  width: 24px;
  height: 6px;
  background:#E60012;
  transition: left 0.5s;
}
/*
标签光条动画
 */
.z-label-animation::after {
  content: '';
  z-index: -1;
  background-color: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 1.25em;
  animation: z-label 3s linear infinite;
}
@keyframes z-label {
  from{
    transform: translate3d(-625%, 0, 0) rotate(35deg);
  }
  to{
    transform: translate3d(200%, 0, 0) rotate(35deg);
  }
}